*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    display: flex;
    background-color: rgb(71, 111, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.projectcontainer{
    width: 60%;
    display: flex;
    border-radius: 10px;
    margin: 145px auto;
    background-color: rgba(255, 255, 255,0.5);  
}
.image{
    flex: 1;
}
.image img{
    width: 100%;
    height: 100%;
}
.createform{
    flex: 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h2{
    padding: 15px;
    font-size: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}
form{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}
form input{
    width: 90%;
    padding: 10px;
    border: 0;
    font-size: 15px;
    border-radius: 5px;
    margin: 10px 0px;
}


.submitbutton{
    background-color: rgba(52, 43, 182,0.7);
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}