*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    display: flex;
    background-color: rgb(71, 111, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.container{
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    margin: 200px auto;
    background-color: rgba(255, 255, 255,0.5);  
}
h1{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #000;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    padding: 10px;
}
select{
    padding: 10px;
    border-radius: 5px;
}
select option{
    padding: 10px;
}
.selectfile{
    display: flex;
    padding: 20px 0px;
    align-items: center;
}
.selecting{
    padding: 10px 0px;
}
.file::-webkit-file-upload-button {
    visibility: hidden;
}
.file::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid rgb(43, 85, 175);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    cursor: pointer;
    font-weight: 700;

}
.submitbtn{
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(66, 66, 221);
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}
.submitbtn:hover{
    background-color: rgb(18, 18, 240);
}
