*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    display: flex;
    background-color: rgb(71, 111, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
/* Register */
.container{
    width: 50%;
    border-radius: 10px;
    margin: 145px auto;
    background-color: rgba(255, 255, 255,0.8);  
    padding: 50px 30px;
}
fieldset{
    display: flex;
    margin: 10px;
    padding: 20px;
}
.namefield input{
    width: 30%;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 5px;
    border:1px solid black;
}
.accessfield input{
    margin-left: 70px;
    margin-right: 10px;
}

.role input{
    margin-left: 70px;
    margin-right: 10px;
}

.designation input{
    margin-left: 70px;
    margin-right: 10px;
}
.submit{
    width: 100%;
    font-size: 20px;
    border: 0;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin: 20px 0px;
    background-color: rgb(66, 66, 221);
    letter-spacing: 1px;
}


