*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    display: flex;
    background-color: rgb(71, 111, 221);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}
.container{
    width: 30%;
    border-radius: 10px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255,0.7);  
    padding: 50px 30px;
}
h1{
    text-align: center;
    padding: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
form label{
    padding: 10px;
}
form input{
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
.selectoption{
    padding: 10px;
    font-size: 15px;
}
#description{
    border-radius: 5px;
    padding: 10px;
}
.submitbtn{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px;
    margin-top: 20px;
    border: 0;
    background-color: rgb(64, 64, 252);
    color: white;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
}